.container
{
    background-color: aqua;
    justify-self: auto;
}
.btn{
    background-color: blue;
    display: inline-block;
    margin: 10px;
    padding: 25px;
    font: 100; color: blanchedalmond;
}
